  #cursor {
    background: rgb(0, 0, 0);
    line-height: 17px;
    margin-left: 3px;
    animation: blink 0.8s infinite;
    -webkit-animation: blink 0.8s infinite;
    width: 7px;
    height: 15px;
  }
  
  @keyframes blink {
    0%,
    50% {background: transparent}
    100% {background: rgb(255, 255, 255)}
  }

  @-webkit-keyframes blink {
    0%,
    50% {background: transparent}
    100% {background: rgb(255, 255, 255)}
  }
