.home {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;
	background-color: rgba(87, 87, 87, 0.5);
	border-bottom: solid 2px rgb(14, 14, 14, 0.5);
}

.pic {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}

.name {
	margin-top: 40px;
}
