div#back {
  background: url(../Assets/office.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

}

div#mr {
  width:400px;
  height:400px;
  margin: 0 auto;
  position: absolute;
  right: 13%;
  top: 57%;
  transform: skewX(-30deg);
}

letter {
  color: #0000679c;
  font-size: 250px;
  position: absolute;
  z-index: 1;
  /* -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

letterR {
  color: red;
  font-size: 150px;
  position: absolute;
  margin: 94px 196px;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
