@font-face {
  font-family: Candara;
  src: url(../Assets/Candara.ttf);
}

div#panel {
  background-color: #1b1b1b;
  height: 100vh;
  width: 100vw;
}

h1, h3 {
  margin: 0 auto;
}

div#script {
  color: #c2c2c2;
  font-family: Candara;
  src: url(../Assets/Candara.ttf);
  font-size: 2.2vw;
  position: absolute;
  margin-top: 4%;
  top: 30%;
  left: 10%;
}

img#picture {
  position: absolute;
  width: 25%;
  top: 30%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
